/*Обнуление стилей*/
@import "nullstyle.scss";

body{
	height: 100%;
	line-height: 1;
	font-weight: 500;
	font-size: 14px;
	color: #252b42;
	font-family: Montserrat;
	background: #fafafa;
}

.wrapper {/* оболочка кот устраняет гориз. скролл */
	min-height: 100%;
	overflow: hidden;/* скрывает всё лишнее */
	display: flex;
	flex-direction: column;
}
/* ----------------------------------------------------  */
._container{/* технический класс (не бэм блок) ограничивающий контент */
	max-width: 1046px;
	padding: 0px 15px;/* отступ безопастности чтобы не было прилипания */
	margin: 0px auto;/* центрирование контента */
	box-sizing: content-box;/* для того чтобы встал отступ безопастности - padding: 0px 15px;
	либо можно на 30px увеличить max-width */
}
._ibg{
	position: relative;/* технический класс для адаптива картинки */
}
._ibg img{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}


/* ------------шапка----------------------------------------  */
.header {	
	position: absolute;/* шапка надвисает над 1 блоком поэтому делаем ее абсолютной */
	width: 100%;
	left: 0;
	top: 0;
	z-index: 50;
	&__container {
		display: flex;
		min-height: 104px;/* мин высота шапки*/
		align-items: center;
		@media (max-width: 479px) {
		min-height: 70px;
	}
	}
	&__logo {
		font-size: 24px;
		font-weight: 700;
color: inherit; /* потому что ссылка не наследует цвет*/
	}
	&__menu {
		margin: 0px 0px 0px 133px;

		@media (max-width: 992px) {
		margin: 0px 0px 0px 80px;
	}

		@media (max-width: 767px) {
		margin: 0px 0px 0px 40px;
	}
			@media (max-width: 479px) {
		margin: 0px 0px 0px 20px;
	}

	}


	
}

.menu {
	padding: 5px 0; /* отступ безопасности чтобы элементы внутри не ломались  */
	&__list {
		flex-wrap: wrap; /* предусматриваем добавление элементов и их перенос на новую строку для надежности */
		display: flex;/* элементы встают в  строку  */
	}
	&__item {}
	&__item:not(:last-child) {
margin: 0px 21px 0px 0px;
	}
	&__link {
		color: #737373;
		font-weight: 600; 
line-height: calc(24 / 14 * 100%); /* макет/размер шрифта*/
&:hover {
	text-decoration: underline;
}
	@media (max-width: 479px) {
		font-size: 18px;
	}

	}
}


/* ------------page----------------------------------------  */
.page {
	flex: 1 1 auto; /* прибивает футер к низу*/
}
.page {
	&__services {
		position: relative;
		z-index:2;
		margin: -111px 0px 0px 0px;/* только за отрицательным марджином поднимутся остальные блоки здесь это нужно для наложение 3 карточек на картинку*/
	}
}
.page__clients:not(:last-child) {
	margin: 0px 0px 10px 0px;
}
 

/* ------------------header-block----------------------------------  */

.header-block {
	text-align: center;
	letter-spacing: 0.2px;
	
	&__title {
font-size: 40px;
line-height: 142%;
font-weight: 700;
@media(max-width: 992px) {
		font-size: 35px;
		}
		@media(max-width: 767px) {
		font-size: 30px;
		}
	}
	&__title:not(:last-child) {
		margin: 0px 0px 10px 0px;
	}
	&__sub-title {
		color: #737373;
		line-height: 142%;
	}
}

/* ------------main-block----------------------------------------  */


.main-block {
	position: relative;

	&__container {}
	&__body {
	padding: 184px 0px 191px 0px;
	position: relative;
	z-index: 2;
	max-width: 400px;
	@media(max-width: 992px) {
		padding: 120px 0px 191px 0px;
}
	@media(max-width: 479px) {
		padding: 115px 0px 160px 0px;
}
& > *:not(:last-child) {/* отступ ко всем объектам 1 уровня*/
margin: 0px 0px 35px 0px;
}

	}
	&__title {
		font-size: 58px;
line-height: calc(80 / 58 * 100%);
letter-spacing: 0.2px;
font-weight: 800;
@media(max-width: 479px) {
		font-size: 42px;
	}
	}
	&__text {
color: #737373;
font-size: 20px;
line-height: 150%;
@media(max-width: 479px) {
color:#585757;
}
	}
	&__buttons {
display: flex;
flex-wrap: wrap;
margin: -10px 0;
	}
	&__button {/* надежная верстка кнопки*/
		
		border-radius: 37px;
		display: flex;
		min-height: 48px;
		justify-content: center;
		align-items: center;
		letter-spacing: 0.2px;
		color: #fff;
		font-weight: 700;
		text-align: center;
		line-height: 150% ;
		padding: 5px 36px;
		margin: 10px 0;
		transition: all 0.3s ease 0s;
		
		@media(max-width: 479px) {
		flex: 1 1 100%;
	}
		&:not(:last-child){/* не работает*/
			@media(min-width: 479px) {
			margin-right: 10px;
		}
		}
		&_orange {
		background: #ff7b47;
		color: #fff;
		&:hover {
			color: #ff7b47;
		background: #fff;
		}
	}
		&_border {
		color: #0d5c63;
		border: 1px solid #0d5c63;
		&:hover {
			color: #fff;
		background: #0d5c63;
		}
	}
	}
	&__image {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	@media(max-width: 992px) {
		opacity: 0.5;/* выбеливаем картинку чтобы текст повер нее читался */
	}
	}
	&__image img {
	@media(max-width: 1300px) {
		object-position: right;/* чтобы при сжатии по ширине картинка помещалась в блоке */
	}}
}

/* ----------------------------------------------------  */


.services {
	&__container {}
	&__body {
		@media(min-width: 670px) {
display: flex;
flex-wrap: wrap;
margin: 0px -15px ;/* для нужного отступа*/
	}}
	&__column {
flex: 0 1 33.333%;


@media(min-width: 670px) {
padding: 0px 15px;	
}
@media(max-width: 992px) {
flex: 0 1 50%;
}
	}

&__column:not(:last-child) {
	@media(max-width: 992px) {
	margin: 0px 0px 30px 0px;/* родительский у services__body отступ и данный margin схлапываются и лишнего отступа нет */
}}

&__column:last-child {
@media(max-width: 992px) {	
	flex: 1 1 100%;
}
}	

	&__item {
height: 100%; /* для одинаковой высоты карточки*/
box-shadow: 0px 13px 10px rgba(0, 0, 0,0.07);
background-color: #fff;
padding: 35px;
@media(max-width: 479px) {	
padding: 25px;
}
	}
}

.item {
	&-service {}
}
.item-service {
	&__icon {}
	&__title {
font-weight: 700;
letter-spacing: 0.1px;
font-size: 14px;
line-height: 133%;
	}
	&__text {
		color: #737373;
		line-height: 142%;
	}
}
.item-service > *:not(:last-child){/* не работает*/
	margin: 0px 0px 10px 0px;
}

.item-service_green{
	background-color: #0d5c63;	
}

.item-service_green .item-service__title{
	color: #fff;
}

.item-service_green .item-service__text{
	color: #fff;
}




/* ----------------------------------------------------  */



.advantages {
	padding: 80px 0;/* не работает*/
	@media(max-width: 992px) {
		padding: 50px 0px;
		}
		@media(max-width: 767px) {
		padding: 40px 0px;
		}
	&__container {}
	&__header {
		margin: 0px 0px 50px 0px;
		@media(max-width: 1020px) {	
margin: 0px 0px 25px 0px;
	}
	}
	&__body {
		display: flex;
		flex-wrap: wrap;
		margin: 0px -15px -30px;
	}
	&__column {
		padding: 0px 15px;
		margin: 0px 0px 30px 0px;
		flex: 0 1 25%;
	@media(max-width: 1020px) {	
flex: 0 1 50%;
	}
	@media(max-width: 560px) {	
flex: 0 1 100%;
	}
	}
	&__item {
background-color: #fff;
padding: 30px;
font-weight: 700;
text-align: center;
	}
	&__item > * :not(:last-child) {
		margin: 0px 0px 10px 0px;
	}
	&__icon {
height: 48px;/* выравниваем иконки*/
display: flex;
align-items: flex-end;
justify-content: center;
	}
	&__value {
		letter-spacing: 0.1px;
		font-size: 40px;
		line-height: 142%;
	}
	&__text {
color: #737373;
font-size: 16px;
line-height: 150%;
	}
}







/* ----------------------------------------------------  */

.practice {
	padding: 125px 0px 80px 0px;
	@media(max-width: 993px) {
		padding: 40px 0px 80px 0px;
		}
		@media(max-width: 767px) {
		padding: 0px 0px 40px 0px;
		}
	&__container {}
	&__header {
		margin: 0px 0px 45px 0px;
		@media(max-width: 767px) {
		margin: 0px 0px 25px 0px;
		}
	}
	&__body {
		margin: 0px -20px -30px;
		display: flex;
		flex-wrap: wrap;
	}
	&__column {
		padding: 0px 20px;
		margin: 0px 0px 30px 0px;
		flex: 0 1 25%;
		@media(max-width: 1040px) {
		padding: 0px 20px;
		flex: 0 1 50%;
		}
		@media(max-width: 630px) {
		padding: 0px 20px;
		flex: 0 1 100%;
		}
	}
	&__item {
		
	}
}

.item-practice {
	background-color: #fff;
	display: flex;
	height: 100%; 
	flex-direction: column;/* исправляем кривизну текста*/
	&__content {
		padding: 30px;
		flex: 1 1 auto;/* позволяем контенту который содержит ссылку и текст  увеличиваться, т.о. он будет придавливать*/
	}
}


.item-practice {
	&__link {
color: inherit;/* для ссылок нужно, иначе не наследуется*/
display: inline-block;/* чтобыы к строчному элементу (ссылке) можно было применять отступы*/
	}
		&__link:hover {
text-decoration: underline;
	}
	&__link:not(:last-child) {
	margin: 0px 0px 15px 0px;
	}
	&__title {
letter-spacing: 0.1px;
font-size: 16px;
line-height: 150%;
font-weight: 700;
}
	&__text {
		color: #737373;
		line-height: 142%;
	}
	&__image {
		display: block;
		padding: 0px 0px 60% 0px;	/* для отображения картинки с помощью класса ibg*/
	}
} 
 
/* ----------------------------------------------------  */


.whoweare {
	background: #ffffff;
	padding: 80px 0px 130px 0px;
	@media(max-width: 950px) {
		padding: 50px 0px 50px 0px;
				}
	@media(max-width: 767px) {
		padding: 20px 0px 50px 0px;
				}

	&__container {}
	&__header {
		margin: 0px 0px 100px 0px;
		@media(max-width: 950px) {
		margin: 0px 0px 30px 0px;
				}
	}
	&__body {
		display: flex;
		align-items: flex-start;/*чтобы все прижалось к верху*/
		@media(max-width: 950px) {
		flex-direction: column-reverse; 
		align-items: stretch;/* резиновость чтобы отображалось видео*/
				}
	}
	

	&__video {/* адаптив видео*/
		flex: 0 0 57%;
		position: relative;
		padding: 0px 0px 42.25% 0px;/* в данном случае flex element является и контентным и скруктурным объектом тогда процентный паддинг высчитывается от ширины flex containera */
		@media(max-width: 950px) {
			padding: 0px 0px 56.25% 0px;
			&:not(:last-child) {
	margin: 50px 0px 0px 0px;
}
}
@media(max-width: 767px) {
	&:not(:last-child) {
	margin: 30px 0px 0px 0px;
}
}

		}
	&__video iframe {/* адаптив видео*/
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}	
	&__content {
flex: 1 1 auto;
padding: 20px 0px 0px 121px;
@media(max-width: 1080px) {
		padding: 0px 0px 0px 50px;
				}
@media(max-width: 950px) {
		padding: 0px 0px 0px 0px;
		
	}
	}

	&__title {
font-weight: 800;
font-size: 40px;
line-height: 142%;
letter-spacing: 0.2px;
@media(max-width: 950px) {
		font-size: 24px;
				}
	}
	&__title:not(:last-child) {
margin: 0px 0px 10px 0px;
	}
	&__text {
color: #737373;
line-height: 142%;
	}
	&__top:not(:last-child) {/* обертка для верных отступов и надежности на случай отсутствия контента */
margin: 0px 0px 50px 0px;
@media(max-width: 767px) {
margin: 0px 0px 30px 0px;
				}
	}
	&__items {}
	&__item {}
	&__item:not(:last-child) {
		margin: 0px 0px 30px 0px;
	}
}

.item-whoweare {
	display: flex;
	&__icon {
flex: 0 0 32px;
	}
	&__body {
	flex: 1 1 auto;
	padding: 0px 0px 0px 20px;	
	}
	&__title {
font-weight: 700;
font-size: 16px;
line-height: 150%;
	}
	&__title:not(:last-child) {
margin: 0px 0px 5px 0px;
	}	
	&__text {
		color: #737373;
		white-space: nowrap;/*Свойство white-space управляет тем, как обрабатываются пробельные символы внутри элемента. nowrap чтобы текст был в ширину*/
		line-height: 142%;
		width: 225px;/* обрезаем лишний текст */
		overflow: hidden;/* обрезаем лишний текст */
		text-overflow: ellipsis;/* обрезаем лишний текст */
	}
}

/* ----------------------------------------------------  */


.clients {
padding: 50px 0;
@media(max-width: 767px) {
margin: 30px 0px;
				}
	&__container {}
	&__items {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: center;

	}
	&__item {
		padding: 8px 15px;
		flex: 0 1 16.6667%;
		text-align: center;
		min-width: 140px; /* для надежности неважно какой будет размер картинки */
	}
	&__item img{
		max-width: 100%;/* для надежности неважно какой будет размер картинки */
	}
}

/* ----------------------------------------------------  */
.subscribe {
	position: relative;
	padding: 0px 0px 20px 0px;  
	&::before {
content: "";
position: absolute;
bottom: 0;
width: 100%;
height: 77px;
left: 0;
background: #252b42;
	}
	&__container {}
	&__body {
		position: relative;
		z-index: 2;
		padding: 30px 50px;
		align-items: center;
		background: #17213c;
		border-radius: 2px;
		@media(min-width: 810px) {/* mobile first */
display: flex;
		justify-content: space-between;
			}
		@media(min-width: 1070px) {
margin: 0px 30px;		
}
@media(max-width: 810px) {
margin: 0 -15px;
padding: 20px 15px;
	}
}
	&__title {
		color: #fff;
		font-size: 133%;
		line-height: 32px;
		font-weight: 700;
		letter-spacing: 0.1px;
		@media(max-width: 810px) {
margin: 0px 0px 20px 0px;
			}
			@media(min-width: 810px) {
max-width: 266px;
			}

	}
	&__form {
		flex: 0 1 50%;
		display: flex;
		padding: 0px 20px;
	}
	&__input {
		width: 100%;
		flex: 1 1 auto;
		min-height: 58px;
		background: #F9F9F9;
		color: #737373;
		padding: 0px 20px;
		box-sizing: border-box;
		border-right: 0;
		border: 1px solid #e6e6e6;
		border-radius: 5px 0px 0px 5px;
		@media(max-width: 810px) {
padding: 0 15px;
			}
&:focus {
	color:#000;
}
	}
	&__button {
		background: #ff7b47;
		border: 1px solid #e6e6e6;
		border-radius: 0px 4px 5px 0px;
		display: flex;
		min-height: 58px;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		text-align: center;
		color: #fff;
		padding: 0px 22px;
		transition: all 0.3s ease 0s;
		&:hover{
			background: #ca6137;
					}
		@media(max-width: 810px) {
padding: 0 15px;
			}
	}
}


/* ----------------------------------------------------  */

.getintouch {
	padding: 80px 0px 135px 0px;
	@media(max-width: 992px) {
padding: 50px 0px;
	}

	&__container {}
	&__header {
		margin: 0px 0px 80px 0px;
	@media(max-width: 992px) {
margin: 0px 0px 50px 0px;
	}
	@media(max-width: 767px) {
margin: 0px 0px 30px 0px;
	}
	}
	&__items {
		margin: 0px -15px;
	@media(min-width: 992px) {
		margin: 0;
    display: flex;
	align-items: center;
			}

	}
	&__item {
		flex: 0 1 33.333%;/* каждый элемент занимает треть ширины */
	}
}


.item-getintouch {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #fff;
	padding: 50px 15px;/* 15 - отступы безопасности */
	& > *:not(:last-child) {/* для всех элементов 1 уровня кроме последнего о*/
		margin: 0px 0px 15px 0px;
	}

&_active {
	background: #252b42;
	color: #fff;
	padding: 80px 15px;
	@media(max-width: 992px) {
padding: 50px 15px;
	}
}
&_active .item-getintouch__button { /* обращаемся к кнопке внутри 2 блока */
border: 1px solid #fff;
color: #fff;

}


	&__icon {}
	&__emails {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	}
	&__email {
	color: inherit;
	font-weight: 600;
	line-height: 150%;
	font-size: 16px;
	&:hover {
		text-decoration: underline;
	}	
	}
	&__label {
font-weight: 700;
font-size: 16px;
line-height: 150%;
	}
	&__button {
border: 1px solid #ff7b47;
min-height: 44px;
display: flex;
font-weight: 600;
justify-content: center;
align-items: center;
color: #ff7b47;
line-height: 142%;
padding: 5px 20px;
text-align: center;
transition: all 0.3s ease 0s;
border-radius: 5px;
&:hover {
	border: 1px solid #ff7b47;
	background: #ff7b47;
	color: #fff;
	}
}
}



/* ----------------------------------------------------  */

.contact {
	background-color:#fff;
	padding: 42px 0;
	&__container {}
	&__body {
		@media(min-width: 767px) {
display: flex;
		align-items: center;
justify-content: space-between;
	}		
	}
	&__content {
		padding: 0px 20px 20px 0px;/* отступ безопасности */
			@media(min-width: 767px) {
padding: 0px 20px 0px 0px;
	}	
}
	&__title {
		font-weight: 700;
		letter-spacing: 0.1px;
		font-size: 24px;
		line-height: 133%;
		&:not(:last-child){
			margin: 0px 0px 10px 0px;
		}
	}
	&__text {
		color: #737373;
	}
	&__button {
		display: flex;
		background: #ff7b47;
		border-radius: 5px;
		min-height: 58px;
		padding: 5px 40px;
		transition: background-color 0.3s ease 0s;
		justify-content: center;
align-items: center;
text-align: center;
color: #fff;
&:hover{/* по наведению цвет меняется */
	background-color: #aa5330;
	}
}
}

/* ----------------------------------------------------  */

.footer {
	&__top {
		background: #17213c;
		padding: 35px 0;
	}
	
	&__main {
		
	}
	&__row{
		display: flex;
		flex-wrap: wrap;
		margin: 0px -15px;/* отступ безопасности */
	}
	&__column {
		padding: 15px 15px;
		flex: 0 1 16.6667%;/* делим на 6 колонок */
		@media (max-width: 992px) {
		flex: 0 1 25%;
	}
	@media (max-width: 992px) {
		flex: 0 1 50%;
	}
	&:last-child {
		flex: 0 1 33.334%;/* последняя занимает 2 колонки */
		@media (max-width: 992px) {
		flex: 1 1 100%;
	}
	}	
	}

	&__label {
		color: #fff;
		font-weight: 700;
		font-size: 16px;
		line-height: 150%;
		margin: 0px 0px 20px 0px;
	}
	&__menu {}
	&__contacts {}
	&__bottom {
		padding: 25px 0;
	}
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media (max-width: 767px) {
		flex-direction: column;	
		}
		
	}

	&__social {

	}
	&__copy {
		color: 737373;
		line-height: 171%;
	@media (max-width: 767px){
	margin: 0px 0px 15px 0px;
	text-align: center;
}
	}
}

.menu-footer {
	&__list {}
	&__item {
	&:not(:last-child) {
margin: 0px 0px 10px 0px;
	}
	}
	&__link {
	color: #fff;
	display: inline-block;/* для работы line-height: 171%; т.к. изначально ссылка строчный элемент*/
	letter-spacing: 0.2px;
	line-height: 171%;
	&:hover {
			text-decoration: underline;
		}	
}
}
.contacts-footer {
	display: flex;
	flex-direction: column;
	&__item {
		padding: 0px 0px 0px 34px;
		line-height: 142%;
		display: flex;
		align-items: center;
		color: #ffffff;
		min-height: 30px;
		&:not(:last-child) {
		margin: 0px 0px 12px 0px;
		&:hover {
			text-decoration: underline;
		}	
		}
		&_phone {
			background: url("../img/footer__phone.svg") 0 0 no-repeat;
		}
		&_map {
background: url("../img/footer__map.svg") 0 0 no-repeat;
		}
		&_email {
		background: url("../img/footer__send-alt.svg") 0 0 no-repeat;
	}
	}
}
.social {
	display: flex;
	align-items: center;
	&__item {
	&:not(:last-child) {
		margin: 0px 20px 0px 0px;
	}
}
}


